<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <config>
    <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSources>
      <add key="gRPC repository" value="https://grpc.jfrog.io/grpc/api/nuget/v3/grpc-nuget-dev" />
    </packageSources>
  </config>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
